html {
  font-size: 10px;
  font-family: "Oxygen", sans-serif;
  background-color: #3FBF3F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #194C19;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  color: white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #3FBF3F;
  text-shadow: 3px 3px 1px black;
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}
